// _code-highlighting.scss

// html-code
.html-hl-brackets,
.html-hl-reserved {
    color: #2B59C3;
}

.html-hl-var,
.html-hl-code,
.html-hl-quotes,
.html-hl-string {
    color: #48BF84;
}

// php-code
.php-hl-inlinetags {
    font-weight: bold;
}

.php-hl-comment {
    color: #777;
}

.php-hl-quotes,
.php-hl-string {
    color: #48BF84;
}

.php-hl-var {
    color: #f84823;
}

.php-hl-reserved {
    color: #2B59C3;
}

// css-code
.css-hl-identifier {
    color: #48BF84;
    font-weight: bold;
}

.css-hl-reserved {
    color: #2B59C3;
}

// css-sql
.sql-hl-reserved {
    color: #2B59C3;
}

.sql-hl-identifier {
    color: #48BF84;
}

.sql-hl-var {
    color: #2B59C3;
}

.sql-hl-quotes, .sql-hl-string {
    color: #48BF84;
}