// _community.scss

.c-user-item {
	margin-bottom: 50px;
	overflow: hidden;

	.c-user-avatar {
		display: block;
		width: 120px;
		height: 120px;
		overflow: hidden;
		border-radius: 60px;
		border: 1px solid $gray-light;
		margin-bottom: 15px;

		img {width: 100%;}
	}

	.c-user-name {
		display: block;
		// float: left;
		font-size: 18px;
		margin-bottom: 15px;
	}

	.c-user-info {
		line-height: 25px;
		font-size: 14px;

		.name {
			font-weight: 100;
			width: 100px;
			display: block;
			float: left;
			margin-bottom: 5px;
			line-height: 20px;
			clear: both;
		}

		.info {
			width: 100px;
			display: block;
			float: left;
			line-height: 20px;
			margin-bottom: 5px;
		}
	}
}

@media screen and (max-width: 770px) {
	.c-user-item {
		clear: both;
		overflow: hidden;
		margin-bottom: 50px;

		.c-user-avatar {
			float: left;
			clear: both;
			margin-right: 25px;
		}

		.c-user-name {
			float: none;
		}

		.c-user-info {
			float: left;
			font-size: 12px;

			.name {
				width: 75px;
			}

			.info {
				width: 70px;
			}
		}
	}
}

.big-user-avatar {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	overflow: hidden;
	border: 1px solid $gray;
	position: absolute;
	top: -25px;
	left: 50%;
	margin-left: -80px;

	img {
		width: 100%;
	}
}

.c-block-user {
	border: 1px solid $gray;
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
	margin-bottom: 25px;

	.block-user-bg {
		height: 110px;
		background-color: $gray-light;
		// background-image: url(../i/bg_pttrn.png);
		margin-bottom: 50px;
		border-bottom: 1px solid $gray;
	}

	.block-user-name {
		text-align: center;
		overflow: hidden;
	}

	.block-user-info {
		.name {
			display: block;
			float: left;
			text-align: right;
			width: 50%;
			padding-right: 10px;
		}

		.info {
			display: block;
			float: right;
			width: 50%;
			padding-left: 10px;
		}
	}
}

.user-projects,
.user-questions,
.user-posts {
	border-bottom: 1px solid $gray-light;
	margin-bottom: 25px;

	h2 {
		float: left;
	}

	sup {
		font-size: 16px;
		color: $text-gray-light;
	}

	.q-info {
		margin-top: 25px;
	}
}

@media screen and (max-width: 500px) {
	.user-projects .q-info {
		display: none;
	}
}

.user-posts {
	border: none;
	margin-bottom: 0;

	.post-item {
		font-size: 13px;
		line-height: 18px;
		max-height: 200px;

		p {
			font-size: 13px;
			line-height: 18px;
		}

		.post-title {
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
		}

		.post-title-photo {
			display: none;
		}

		h1, h2, h3, h4 {
			float: none; 
			margin: 10px 0;
			font-weight: bold;
			font-size: 16px;
		}
	}
}

.upe-right-col {
	position: relative;
	overflow: hidden;

	.well {
		border-radius: 0; 
		padding-bottom: 25px;
	}

	.big-user-avatar {
		top: 0;
	}

	h3 {
		margin-top: 2px;
	}
}

.upe-avatar {
	width: 125px;
	display: block !important;
	margin: 180px auto 26px auto !important;
	overflow: hidden;
}