// _projects.scss

.project-item {
	margin-bottom: 50px;

	.project-cover {
		display: block;
		min-height: 150px;
		background-color: $gray;
		background-size: cover;
		transition: all 0.1s ease;

		&:hover {
			box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
		}
	}

	.project-title {
		height: 43px;
	}

	.project-title-text {
		line-height: 20px;
		display: block;
		word-wrap: break-word;
		overflow: hidden;
	}
}

.project-info {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	font-size: 12px;
	color: $text-gray;
	line-height: 18px;

	span {
			margin-left: 10px;
		}

	.p-info-like {
		svg {
			width: 20px;
			height: 18px;
			fill: #fff;
			stroke-width: 2px;
			stroke: $text-gray;
			float: left;
			cursor:pointer;
			transition: all .1s ease;

			&:hover {stroke: $red;}
			&:active, &:focus {stroke: $red; fill: $red;}
		}
	}

	.active svg {
		fill: $red;
		stroke: $red;

		&:hover {fill: lighten($red, 20%);}
		&:active, &:focus {fill: #fff; stroke: $text-gray;}
	}

	.p-info-view {
		svg {
			width: 20px;
			height: 18px;
			fill: $text-gray;
			float: left;
			margin-left: 20px;
		}
	}

	.p-info-comment {
		svg {
			width: 20px;
			height: 18px;
			fill: $text-gray;
			float: left;
			margin-left: 20px;
		}
	}
}

.p-description {
	border-bottom: 1px solid $gray-light;
	padding-bottom: 25px;
}

.grid-preview {
	margin-top: 25px;
	// overflow: hidden;
}

.grid-p-item {
	width: 30%;
	float: left;
	margin-bottom: 25px;

	img {
		width: 100%;
	}
}

@media screen and (max-width: 770px) {
	.grid-p-item {
		width: 45%;
	}
}

@media screen and (max-width: 350px) {
	.grid-p-item {
		width: 45%;
	}
}

.p-info .q-tags {margin-left: 0 !important;}

.p-similar {

	.project-item {
		margin-bottom: 25px;

		.project-title {
			height: auto;
		}
	}
}

.hint-tech svg,
.hint-2x svg,
.hint-cactus svg {
	height: 50px;
	display: block;
	margin-bottom: 10px;
}

.hint-tech svg {width: 50px;fill:$blue; margin-top: 50px;}
.hint-2x svg {width: 70px;fill:$green;}
.hint-cactus svg {width: 50px;fill:$orange;}

.sm-ico-del {
	display: block;
	width: 24px;
	height: 24px;
	background-color: $red;
	position: absolute;
	border-radius: 12px;
	right: -12px;
	top: -12px;
	transition: all 0.1s ease;

	&:hover {background-color: $red-light;}
	&:active, &:focus {background-color: $red-dark}

	svg {
		fill: #fff;
		width: 16px;
		height: 16px;
		margin: 4px 0 0 4px;
	}
}

.btns-group-topborder {
	padding-top: 25px;
	border-top: 2px solid $gray-light;
}