@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700&subset=latin,cyrillic);

// _variables.scss

$gray:				#e6e6e6;
$gray-light:		#f2f2f2;
$gray-dark:			darken($gray, 10%);

$text-gray:			#505050;
$text-gray-light:	#888;
$text-gray-dark:	#333;

$green:				#84cf2f;
$green-light:		#95e835;
$green-dark:		#649c24;

$blue:				#1690da;
$blue-light:		#1aa7ff;
$blue-dark:			#116da6;
$blue-darkness:		#2e3c50;
$blue-gray:			#566c86;

$red:				#f84823;
$red-dark:			darken($red, 10%);
$red-light:			lighten($red, 10%);

$orange:			#ff8c00;
$orange-dark:		darken($orange, 10%);
$orange-light:		lighten($orange, 10%);


$yellow:			#FADE75;
$yellow-light:		#FEF8E2;
$yellow-dark:		darken($yellow, 10%);

.c-blue {color: $blue;}
.c-red {color: $red;}


// _community.scss
// Community & User Profile sections

.c-user-item {
	margin-bottom: 50px;
	overflow: hidden;

	.c-user-avatar {
		display: block;
		width: 120px;
		height: 120px;
		overflow: hidden;
		border-radius: 60px;
		border: 1px solid $gray-light;
		margin-bottom: 15px;

		img {width: 100%;}
	}

	.c-user-name {
		display: block;
		// float: left;
		font-size: 18px;
		margin-bottom: 15px;
	}

	.c-user-info {
		line-height: 25px;
		font-size: 14px;

		.name {
			font-weight: 100;
			width: 100px;
			display: block;
			float: left;
			margin-bottom: 5px;
			line-height: 20px;
			clear: both;
		}

		.info {
			width: 100px;
			display: block;
			float: left;
			line-height: 20px;
			margin-bottom: 5px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.c-user-item {
		clear: both;
		overflow: hidden;
		margin-bottom: 50px;

		.c-user-avatar {
			float: left;
			clear: both;
			margin-right: 25px;
		}

		.c-user-name {
			float: none;
		}

		.c-user-info {
			float: left;
		}
	}
}

.big-user-avatar {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	overflow: hidden;
	border: 1px solid $gray;
	position: absolute;
	top: -25px;
	left: 50%;
	margin-left: -80px;

	img {
		width: 100%;
	}
}

.c-block-user {
	border: 1px solid $gray;
	position: relative;
	overflow: hidden;
	padding-bottom: 50px;
	margin-bottom: 25px;

	.block-user-bg {
		height: 110px;
		background-color: $gray-light;
		// background-image: url(../i/bg_pttrn.png);
		margin-bottom: 50px;
		border-bottom: 1px solid $gray;
	}

	.block-user-name {
		text-align: center;
		overflow: hidden;
	}

	.block-user-info {
		.name {
			display: block;
			float: left;
			text-align: right;
			width: 50%;
			padding-right: 10px;
		}

		.info {
			display: block;
			float: right;
			width: 50%;
			padding-left: 10px;
		}
	}
}

.user-projects,
.user-questions,
.user-posts {
	border-bottom: 1px solid $gray-light;
	margin-bottom: 25px;

	h2 {
		float: left;
	}

	sup {
		font-size: 16px;
		color: $text-gray-light;
	}

	.q-info {
		margin-top: 25px;
	}
}

@media screen and (max-width: 500px) {
	.user-projects .q-info {
		display: none;
	}
}

.user-posts {
	border: none;
	margin-bottom: 0;

	.post-item {
		font-size: 13px;
		line-height: 18px;
		max-height: 200px;

		p {
			font-size: 13px;
			line-height: 18px;
		}

		.post-title {
			font-size: 16px;
			font-weight: 400;
			line-height: 18px;
		}

		.post-title-photo {
			display: none;
		}

		h1, h2, h3, h4 {
			float: none; 
			margin: 10px 0;
			font-weight: bold;
			font-size: 16px;
		}
	}
}

.upe-right-col {
	position: relative;
	overflow: hidden;

	.well {
		border-radius: 0; 
		padding-bottom: 25px;
	}

	.big-user-avatar {
		top: 0;
	}

	h3 {
		margin-top: 2px;
	}
}

.upe-avatar {
	width: 125px;
	display: block !important;
	margin: 180px auto 26px auto !important;
	overflow: hidden;
}


@import "_tags-default.scss";
@import "_buttons.scss"; // buttons styles
@import "_elements.scss"; // title header inside pages, pagination, search (index & inside), forms & inputs,
@import "_navbar.scss";  // header navigation
@import "_index-promo.scss";
@import "_features.scss"; // features index page (fast, secure, professional)
@import "_index-content.scss";
@import "_code-highlighting.scss"; // code-highlighting 
@import "_docs.scss"; // documentation section pages
@import "_questions.scss"; // Question & Answer section
@import "_projects.scss"; // Projects section
@import "_login-reg.scss"; // Login & Registration pages
@import "_footer.scss"; // all pages footer