@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,700&subset=latin,cyrillic);

// _variables.scss

$gray:				#e6e6e6;
$gray-light:		#f2f2f2;
$gray-dark:			darken($gray, 10%);

$text-gray:			#505050;
$text-gray-light:	#888;
$text-gray-dark:	#333;

$green:				#84cf2f;
$green-light:		#95e835;
$green-dark:		#649c24;

$blue:				#1690da;
$blue-light:		#1aa7ff;
$blue-dark:			#116da6;
$blue-darkness:		#2e3c50;
$blue-gray:			#566c86;

$red:				#f84823;
$red-dark:			darken($red, 10%);
$red-light:			lighten($red, 10%);

$orange:			#ff8c00;
$orange-dark:		darken($orange, 10%);
$orange-light:		lighten($orange, 10%);


$yellow:			#FADE75;
$yellow-light:		#FEF8E2;
$yellow-dark:		darken($yellow, 10%);

.c-blue {color: $blue;}
.c-red {color: $red;}



// _projects.scss

.project-item {
	margin-bottom: 50px;

	.project-cover {
		display: block;
		min-height: 150px;
		background-color: $gray;
		background-size: cover;
		transition: all 0.1s ease;

		&:hover {
			box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
		}
	}

	.project-title {
		height: 43px;
	}

	.project-title-text {
		line-height: 20px;
		display: block;
		word-wrap: break-word;
		overflow: hidden;
	}
}

.project-info {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	font-size: 14px;
	color: $text-gray;

	span {
			margin-left: 10px;
		}

	.p-info-like {
		svg {
			width: 20px;
			height: 18px;
			fill: #fff;
			stroke-width: 2px;
			stroke: $text-gray;
			float: left;
			cursor:pointer;
			transition: all .1s ease;

			&:hover {stroke: $red;}
			&:active, &:focus {stroke: $red; fill: $red;}
		}
	}

	.active svg {
		fill: $red;
		stroke: $red;

		&:hover {fill: lighten($red, 20%);}
		&:active, &:focus {fill: #fff; stroke: $text-gray;}
	}

	.p-info-view {
		svg {
			width: 20px;
			height: 18px;
			fill: $text-gray;
			float: left;
			margin-left: 20px;
		}
	}

	.p-info-comment {
		svg {
			width: 20px;
			height: 18px;
			fill: $text-gray;
			float: left;
			margin-left: 20px;
		}
	}
}

.p-description {
	border-bottom: 1px solid $gray-light;
	padding-bottom: 25px;
}

.grid-preview {
	margin-top: 25px;
	overflow: hidden;
}

.grid-p-item {
	width: 30%;
	float: left;
	margin-bottom: 25px;

	img {
		width: 100%;
	}
}

@media screen and (max-width: 770px) {
	.grid-p-item {
		width: 45%;
	}
}

@media screen and (max-width: 350px) {
	.grid-p-item {
		width: 45%;
	}
}

.p-info .q-tags {margin-left: 0 !important;}

.p-similar {

	.project-item {
		margin-bottom: 25px;

		.project-title {
			height: auto;
		}
	}
}



@import "_tags-default.scss";
@import "_buttons.scss"; // buttons styles
@import "_elements.scss"; // title header inside pages, pagination, search (index & inside), forms & inputs,
@import "_navbar.scss";  // header navigation
@import "_index-promo.scss";
@import "_features.scss"; // features index page (fast, secure, professional)
@import "_index-content.scss";
@import "_code-highlighting.scss"; // code-highlighting 
@import "_docs.scss"; // documentation section pages
@import "_questions.scss"; // Question & Answer section
@import "_login-reg.scss"; // Login & Registration pages
@import "_footer.scss"; // all pages footer